.material-form input:not([type=submit]) {
  margin: 8px;
  padding: 5px;
}

.material-form textarea {
  margin: 8px;
  padding: 5px;
  width: 300px;
  height: 100px;
}
.material-form select {
  margin: 8px;
  padding: 5px;
}

.card-body-hidden {
  display: none;
}
