table {
  background-color: #cdefff;  /* 背景色指定 */
  margin: 0 auto;
  min-width: 750px;     /* 幅指定 */
}

tr {
  text-align:  center;        /* 文字の揃え位置指定 */
}

th,td {
  border: solid 1px;              /* 枠線指定 */
  padding: 10px;      /* 余白指定 */
  text-align:  center;        /* 文字の揃え位置指定 */
  font-size: 10pt;
}

th {
  background-color: #00e2cf;  /* 背景色指定 */
  width:  100px;              /* 幅指定 */
  font-size: 10pt;
}

tr:hover {
  background: gray;
}

td.period {
  font-size: 10px;
}

th.border.border-dark.mat {
  width: 300px;
}
