table {
  background-color: #cdefff;
}

tr {
  text-align:  center;
}

th,td {
  border: solid 1px;
  padding: 10px;
  font-size: 10pt;
}

th {
  background-color: #00e2cf;
  width:  100px;
  font-size: 10pt;
}

tr:hover {
  background: gray;
}
