/* show_date */
.attendances-table {
  width: 100%;
  table-layout: fixed;
  margin-bottom: 50px;
}

/* 入力欄 */
.attendances-table input,
.attendances-table select {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

/* 発着時間入力欄 */
.attendances-table .time-field {
  width: 100%;
  margin-top: 10px;
}

/* 1:依頼主、2:工事場所、3:作業内容 */
.attendances-table th:nth-child(1),
.attendances-table th:nth-child(2),
.attendances-table th:nth-child(3),
.attendances-table td:nth-child(1),
.attendances-table td:nth-child(2),
.attendances-table td:nth-child(3){
  width: 7%;
}

/* 7備考 、8:使用車両 */
.attendances-table th:nth-child(7),
.attendances-table th:nth-child(8),
.attendances-table td:nth-child(7),
.attendances-table td:nth-child(8) {
  width: 8%;
}

/* 4:発着時間、5:人数 */
.attendances-table th:nth-child(4),
.attendances-table th:nth-child(5),
.attendances-table td:nth-child(4),
.attendances-table td:nth-child(5){
  width: 6%;
}

/* 9:削除 */
.attendances-table th:nth-child(9),
.attendances-table td:nth-child(9){
  width: 2%;
}

/* 6作業員 */
.attendances-table th:nth-child(6),
.attendances-table td:nth-child(6) {
  width: 20%;
}


.attendances-table th,
.attendances-table td {
  border: 1px solid #000;
}


.select2-container .select2-search--inline .select2-search__field {
  min-width: 100px !important;
}

.select2-results > .select2-results__options {
  max-height: 300px;
  overflow-y: auto;
}

ul.select2-selection__rendered[id*="worker_ids"] {
  display: flex !important;
  flex-wrap: wrap !important;
}

ul.select2-selection__rendered[id*="worker_ids"] li {
  flex: 1 0 20% !important;
}

@media (max-width: 575.98px) {
  .attendances-table {
    max-width: 600px;
    overflow-x: scroll;
  }
}
