<% if model.errors.any? %>
  <div style="color:red;">
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li class='error-message'>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
