<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to image_tag("logo.png", class:"logo"), '/' %>

    <% if user_signed_in? %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
            <i class="fas fa-sign-out-alt"></i> ログアウト
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>
</nav>
