<nav class="sp-nav">
  <div id="hamburger">
    <p class="btn-gNav">
      <span></span>
      <span></span>
      <span></span>
    </p>
    <nav id="gNav" class="">
      <ul class="gNav-menu">
        <%= header_link('資材情報登録', new_material_path, 'fa-wrench', controller_name == 'materials' && action_name == 'new') %>
        <%= header_link('資材一覧', materials_path, 'fa-th-list', controller_name == 'materials' && action_name == 'index') %>
        <%= header_link('勤怠選択', attendances_path, 'fa-pencil-alt') %>
        <%= header_link('ログアウト', destroy_user_session_path, 'fa-sign-out-alt', false, method: :delete) %>
      </ul>
    </nav>
  </div>
</nav>
