<nav class="sp-nav">
  <div id="hamburger">
    <p class="btn-gNav">
      <span></span>
      <span></span>
      <span></span>
    </p>
    <nav id="gNav" class="">
      <ul class="gNav-menu">
        <%= header_link(label: '資材登録', path: new_material_path, icon: 'fa-wrench',
                        condition: controller_name == 'materials' && action_name == 'new', link_options: {}) %>
        <%= header_link(label: '資材一覧', path: materials_path, icon: 'fa-th-list',
                        condition: controller_name == 'materials' && action_name == 'index', link_options: {}) %>
        <%= header_link(label: '作業記録', path: attendances_path, icon: 'fa-paste',
                        condition: false, link_options: {}) %>
        <%= header_link(label: 'ログアウト', path: destroy_user_session_path, icon: 'fa-sign-out-alt',
                        condition: false, link_options: {method: :delete}) %>
      </ul>
    </nav>
  </div>
</nav>
