<%= render "header" %>

<div class="material-new-main container my-3">
  <h2 style="text-align: center;">資材の情報を入力</h2>
  <p style="color:red;">（※）は必須項目です</p>

  <%= form_with(model: @material, local: true) do |f| %>
    <%= render partial: "register", locals: {f: f} %>
    <div class="register"><%= f.submit "登録", class:"button" %></div>
  <% end %>
</div>
