<%= render "header" %>

<div class="material-form container my-3">
  <h2 style="text-align: center;">資材情報を追加</h2>
  <p style="color:red;">（※）は必須項目です。<br>数量や金額は半角で入力して下さい</p>

  <%= form_with(model: @material, local: true) do |f| %>
    <%= render partial: "form", locals: {f: f} %>
    <div class="d-flex justify-content-center">
      <%= f.submit "登録", class: "btn btn-primary btn-lg me-3", style: "margin-top: 15px;" %>
    </div>
  <% end %>
</div>
