<thead>
  <th>依頼主<span style="color:red;">（※）</span></th>
  <th>工事場所<span style="color:red;" >（※）</span></th>
  <th>作業内容<span style="color:red;">（※）</span></th>
  <th>発着時間</th>
  <th>人数</th>
  <th>作業員</th>
  <th>備考</th>
  <th>使用車両</th>
  <% if delete_column %>
    <th>削除</th>
  <% end %>
</thead>
