<%= link_to '<i class="fas fa-arrow-left fa-lg"></i>'.html_safe, prev_path, class: "align-self-center me-3 px-3" %>
<h1><%= @date %></h1>
<%= link_to '<i class="fas fa-arrow-right fa-lg"></i>'.html_safe, next_path, class: "align-self-center ms-3 px-3" %>
<%= link_to action_name, action_path, class: "btn btn-primary align-self-center ms-3 px-3" %>
