<%= render "header" %>

<div class="calendar container my-3">
  <%= render 'date_form', url: new_attendance_path, id: 'new_date', button_text: '勤怠作成', button_id: 'new_button', button_class: 'btn btn-secondary' %>
  <%= render 'date_form', url: show_date_attendances_path, id: 'show_date', button_text: '勤怠更新', button_id: 'show_button', button_class: 'btn btn-primary' %>
</div>
