<%= render "header" %>

<div class="calendar container d-flex justify-content-center">
  <%= form_with url: show_date_attendances_path, method: :get, class: 'form-inline' do |f| %>
    <%= f.date_field :date, value: Date.today, class: 'form-control mx-auto', style: "max-width:300px;" %>
    <%= f.submit '日付を選択', id: 'show_button', class: 'btn btn-primary' %>
  <% end %>
</div>
