<h1><%= @date %></h1>
<table>
  <thead>
      <th>依頼主</th>
      <th>工事場所</th>
      <th>作業内容</th>
      <th>出発時間</th>
      <th>到着時間</th>
      <th>作業員</th>
      <th>備考</th>
      <th>使用車両</th>
  </thead>
  <tbody>
    <% @attendances.each do |attendance| %>
      <%= form_with model: attendance, local: true do |f| %>
        <tr>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
