<%= render "shared/header" %>

<div class="py-5">
  <h1 class="text-center mb-5" style="font-family: 'Arial Black', Gadget, sans-serif; color: cyan; text-shadow: 2px 2px 4px #000000;">
  NTC PROGECT</h1>

  <div class="row justify-content-center">
    <div class="col-md-12 text-center mb-5">
      <%= link_to "資産管理", materials_path, class: 'btn btn-success btn-lg btn-block py-3 mb-4', style: 'font-size:1.5rem;' %>
    </div>
    <div class="col-md-12 text-center">
      <%= link_to "番割り", attendances_path, class: 'btn btn-primary btn-lg btn-block py-3', style: 'font-size:1.5rem;' %>
    </div>
  </div>
</div>
